*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    height: 100%;
}

body {
    background: #ddd;
    text-align: center;
    margin: 200px 0;
}


a {
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    background: #313030;
    cursor: pointer;
    
    
    span {
        display: inline-block;
        background: rgb(201, 201, 255);
        border-radius: 3px;
        font-size: 18px;
        font-weight: 600;
        padding: 20px;
        transition: all 0.3s ease;
    }
    
    &:hover span {
        background: rgb(146, 146, 255);
        transform: translate(-5px, -10px);
    }
}

